<section>
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    [maintainAspectRatio]="false"
    slideHeight="650px"
    [hideIndicators]="true"
    [loop]="true"
    [hideArrows]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.imageUrl"
      overlayColor="#00000040"
      [hideOverlay]="false"
    >
    <div class="tp-caption sfb fadeout large_white">
      <div class="carousel-caption" [hidden]="!slide.title && !slide.htmlFragment">
        <h2 [innerHtml]="slide.title"></h2>
        <p [innerHtml]="slide.htmlFragment"></p>                
      </div>
    </div>
    </mat-carousel-slide>
  </mat-carousel>
</section>