<div id="top">
  <div class="header-container">
    <header class="header  fixed  dark  clearfix transparent-header-on">
      <div class="header-top dark ">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="header-top-first clearfix" [innerHTML]="cfg.content"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="header-left clearfix">
              <!-- logo -->
              <div class="top-logo" data-animation-effect="flipInX" data-effect-delay="1s">
                <a href="#"><img class="img img-responsive" src="assets/logo_small.png" alt="Beyond the Belt"></a>
              </div>
              <div class="clearfix visible-sm"></div>
              <div class="name">
                Beyond the Belt
              </div>
              <div class="site-slogan">
                Martial Arts &amp; Fitness Center
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-8">
            <div class="header-right clearfix">
              <div class="main-navigation  animated with-dropdown-buttons">
                <nav class="navbar navbar-default" role="navigation">
                  <!-- <div class="container-fluid"> -->

                    <!-- Toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1" [ngClass]="{ 'in' : !collapsed }">
                      <!-- main-menu -->
                      <ul class="nav navbar-nav">
                        <li><a href="#"><span></span>
                            Home</a>
                        </li>
                        <li><a href="#events"><span></span>
                            Blog</a>
                        </li>
                        <li><a href="#staff"><span></span>
                            Staff</a>
                        </li>
                        <li><a href="#schedule"><span></span>
                            Schedule & Programs</a>
                        </li>
                      </ul>

                      <div class="header-dropdown-buttons">
                        <a href="#contact" offset="125" class="btn btn-sm btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                      </div>
                    </div>

                  <!-- </div> -->
                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>