<router-outlet></router-outlet>
<div class="app-wrapper container">

  <div id="top">

    <!-- Navigation -->
    <!-- header-container start -->
    <div class="header-container">
      <header class="header  fixed  dark  clearfix">
        <!-- header-top end -->
        <div class="no-padding">
          <div class="row">
            <div class="col-xs-12">
              <!-- header-left start -->
              <!-- ================ -->
              <div class="header-left clearfix">

                <!-- logo -->
                <div class="header-content">
                  <a class="fb_link" href="https://www.facebook.com/pages/CrossFit-NV/386404204735703" target="_blank" title="Join us on FaceBook!">&nbsp;</a>
                  <p>
                    Phone: 603.393.6386 / 603.455.4607 <br /> 3 Winona Rd, Meredith NH 03253
                  </p>
                  <img class="img img-responsive" src="assets/logo.png" alt="Crossfit Nova Vita">
                </div>
              </div>
              <!-- header-left end -->

            </div>
            <div class="col-xs-12">

              <!-- header-right start -->
              <!-- ================ -->
              <div class="header-right clearfix">
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="x-collapse x-navbar-collapse">
                        <a href="http://journal.crossfit.com/start.tpl" class="pull-right journal" target="_blank">
                          <img src="assets/cf_journal.png" />
                        </a>
                        <!-- main-menu -->
                        <ul class="nav navbar-nav">
                          <ul class="nav navbar-nav">
                            <li role="presentation" class="ng-scope">
                              <a routerLink="/" class="ng-binding ng-scope">
                                Home
                              </a>
                            </li>
                            <li role="presentation" class="ng-scope">
                              <a routerLink="/schedule" class="ng-binding ng-scope">
                                Class Schedule
                              </a>
                            </li>
                            <li role="presentation" class="ng-scope">
                              <a routerLink="/rules" class="ng-binding ng-scope">
                                Box Rules
                              </a>
                            </li>
                            <li role="presentation" class="ng-scope">
                              <a routerLink="/coaches" class="ng-binding ng-scope">
                                Coaches
                              </a>
                            </li>
                            <li role="presentation" class="ng-scope">
                              <a routerLink="/contact" class="ng-binding ng-scope">
                                Contact
                              </a>
                            </li>
                            <div class="clearfix"></div>
                          </ul>
                          <div class="clearfix"></div>
                        </ul>
                      </div>

                    </div>
                  </nav>
                  <!-- navbar end -->

                </div>
                <!-- main-navigation end -->
              </div>
              <!-- header-right end -->

            </div>
          </div>
        </div>

      </header>
      <!-- header end -->
    </div>
    <!-- header-container end -->
    <!-- /Navigation -->

    <div class="page-wrapper">
      <router-outlet></router-outlet>
      <div class="clearfix"></div>

      <div class="subfooter">
        <div class="container">
          <div class="subfooter-inner">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">Copyright © Crossfit Nova Vita. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-wrapper end -->