#schedule {
  padding-top: 15px;
  
  section.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > div {
      margin: 5px 10px;
      min-width: 175px;
    }

    .schedule-day span {
      margin-bottom: 2px;
    }
  }

  h2 {
    margin-top: 0;
  }
}