<section>
  <div id="schedule" class="ng-scope">
    <h2 class="text-center">Weekly <strong>Class Schedules</strong></h2>
    <div class="separator"></div>
    <div class="schedule-days">
      <div class="col-xs-12 col-sm-4 col-md-2 animated flipInX ng-scope">
        <div class="schedule-day image-box shadow bordered">
          <h3>Monday</h3>
          <div>
            <span class="bg-maroon small"><strong>6aam</strong> WOD</span>
            <span class="bg-purple small"><strong>9am</strong> WOD</span>
            <span class="bg-aqua small"><strong>4:30pm</strong> WOD</span>
            <span class="bg-green small"><strong>6pm</strong> WOD</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2 animated flipInX ng-scope">
        <div class="schedule-day image-box shadow bordered">
          <h3>Tuesday</h3>
          <div>
            <span class="bg-maroon small"><strong>6aam</strong> WOD</span>
            <span class="bg-aqua small"><strong>4:30pm</strong> WOD</span>
            <span class="bg-green small"><strong>6pm</strong> WOD</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2 animated flipInX ng-scope">
        <div class="schedule-day image-box shadow bordered">
          <h3>Wednesday</h3>
          <div>
            <span class="bg-maroon small"><strong>6aam</strong> WOD</span>
            <span class="bg-purple small"><strong>9am</strong> WOD</span>
            <span class="bg-aqua small"><strong>4:30pm</strong> WOD</span>
            <span class="bg-green small"><strong>6pm</strong> WOD</span>
          </div>
        </div>
      </div>

      <div class="clearfix visible-sm ng-scope"></div>

      <div class="col-xs-12 col-sm-4 col-md-2 animated flipInX ng-scope">
        <div class="schedule-day image-box shadow bordered">
          <h3>Thursday</h3>
          <div>
            <span class="bg-maroon small"><strong>6aam</strong> WOD</span>
            <span class="bg-aqua small"><strong>4:30pm</strong> WOD</span>
            <span class="bg-green small"><strong>6pm</strong> WOD</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2 animated flipInX ng-scope">
        <div class="schedule-day image-box shadow bordered">
          <h3>Friday</h3>
          <div>
            <span class="bg-maroon small"><strong>6aam</strong> WOD</span>
            <span class="bg-purple small"><strong>9am</strong> WOD</span>
            <span class="bg-aqua small"><strong>4:30pm</strong> WOD</span>
            <span class="bg-green small"><strong>6pm</strong> WOD</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-2 animated flipInX ng-scope">
        <div class="schedule-day image-box shadow bordered">
          <h3>Saturday</h3>
          <div>
            <span class="bg-orange small"><strong>9pm-11am</strong> *Open Gym</span>
          </div>
        </div>
        <small class="text-danger">* subject to change</small>
      </div>

    </div>
  </div>
</section>