<ng-template #instTemplate let-staff>
  <a href="javascript:void(0)" (click)="selected = staff">
    <div class="image-box text-center mb-20 animated flipInX">
      <div class="overlay-container overlay-visible">
        <div>
          <img [src]="staff.headerImageUrl" alt="">
          <div class="overlay-bottom">
            <div class="text">
              <strong class="lead">{{staff.title}}</strong><br />
              <strong class="text-orange margin-clear">{{staff.blurb}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</ng-template>
<br />
<h1 class="page-title text-center" [innerHTML]="cfg.header"></h1>
<hr class="tagline-divider">
<p class="lead" [innerHTML]="cfg.intro"></p>
<div class="clearfix"></div>
<section [hidden]="selected">
  <h3 class="text-center" [innerHTML]="cfg.ownerHeader"></h3>
  <section class="staff">
    <div *ngFor="let staff of owners">
      <ng-container *ngTemplateOutlet='instTemplate; context: { $implicit: staff }'></ng-container>
    </div>
  </section>
  <h3 class="text-center" [innerHTML]="cfg.headInstructorHeader"></h3>
  <section class="staff">
    <div *ngFor="let staff of headInstructors">
      <ng-container *ngTemplateOutlet='instTemplate; context: { $implicit: staff }'></ng-container>
    </div>
  </section>
  <!-- <h3 class="text-center">Directors</h3>
  <section>
    <div *ngFor="let staff of directors">
      <ng-container *ngTemplateOutlet='instTemplate; context: { $implicit: staff }'></ng-container>
    </div>
  </section> -->
  <h3 class="text-center" [innerHTML]="cfg.instructorHeader"></h3>
  <section class="staff">
    <div *ngFor="let staff of instructors">
      <ng-container *ngTemplateOutlet='instTemplate; context: { $implicit: staff }'></ng-container>
    </div>
  </section>
</section>
<section *ngIf="selected">
  <h3 [innerHTML]="selected.caption"></h3>
  <div class="instructor-long">
    <div class="container-fluid animated slideInRight">
      <div class="row">
        <div class="col-md-8">
          <button id="instr-top" class="btn btn-xs btn-info btn-animated animated slideInLeft" (click)="selected=null"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</button><br /><br />
          <div [innerHTML]="selected.content"></div>
        </div>
        <div class="col-md-4">
          <img class="img img-responsive img-thumbnail" [src]="selected.headerImageUrl" alt=""><br /><br />
          <div class="body">
            <h3 class="title margin-clear" [innerHTML]="selected.title"></h3>
            <div class="separator-2 mt-10"></div>
            <p [innerHTML]="selected.blurb"></p>
            <div [innerHTML]="selected.customContent"></div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</section>