<section>
  <h1>CFNV Coaches and Trainers</h1>
  <h3>
    Our goal at CrossFit N.V. is to spread our idea of fitness.&nbsp;<br>
  </h3>
  <p>We believe that well-rounded athletes are the best athletes, and we push our members to be good at EVERYTHING; and to avoid being VERY good at only 1 thing.</p>
  <div class="row">
    <div class="col-md-12">
      <img class="img img-responsive right" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/4/WidgetImages/56b641d1f0b11.jpg" />
      <h2 style="margin: 0px 0px 4px; font-size: 24px; color: #333333; font-family: 'Roboto Slab', serif;">Nicole Harper</h2>
      <div class="qualifications ng-scope" style="margin: 0px; color: #333333; font-family: 'Roboto Slab', serif; font-size: 12px;">
        <p style="margin: 0px; text-align: justify; padding: 2px 0px 15px; color: #909090;">
          Olympic Lift Certified |&nbsp;CrossFit Lvl 1 Certified | Certified Personal Trainer | Kettlebell Certified | Seasoned Triathlete
        </p>
      </div>
      <p>
        I used to workout to get in shape, now I workout because of my love of CrossFit; being in shape is just a fortunate side effect! CrossFit has been a life-altering experience for me. It has changed my view of what "fitness" truly is - CrossFit truly prepares you for the every-day. It enables you to face the difficult, and enjoy the pleasurable.&nbsp;</p>
      <p>
        I CrossFit because I want to stay physically strong as I age, but more importantly I CrossFit to stay&nbsp;<strong>mentally tough</strong>. The mental strength and toughness I have gained from crossfitting far outweighs any other benefit this amazing sport has given me. I love it for the community, the competition, the excitement of the WOD! The count down of the clock! The intensity of working out until your covered in sweat and chalk... until the tape on your hands is ripped off from pulling, pushing, jumping, and lifting your body until there is nothing left except the sweat angel on the floor amongst your fellow box mates. That is why I love CrossFit. It's that love that inspired me to coach, so that I can share that passion with you. It's a privilege to stand at the front of the box and coach. I am grateful to be able to help people become not only strong, but healthier. If you find yourself in one o my classes, I will help you accomplish things you never thought possible.
      </p>
      <h3>You show up with desire, and I'll give you the drive!&nbsp;</h3>
      <p>
        I want to work on building the mental strength it takes to pick up the bar before you think you are ready, or to jump back on the pullup bar when you just want rest. It is those moments that build strength, strength you will use at CrossFit N.V. and in your personal life as well. As a coach, it is incredibly rewarding to be able to contribute to others' health and quality of life.
      </p>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="col-md-12">
      <img class="img img-responsive left" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/4/WidgetImages/56b6451f8cfe3.png" />
      <h2 style="margin: 0px 0px 4px; font-size: 24px; color: #333333; font-family: 'Roboto Slab', serif;">Bill Harper</h2>
      <div class="qualifications ng-scope" style="margin: 0px; color: #333333; font-family: 'Roboto Slab', serif; font-size: 12px;">
        <p style="margin: 0px; text-align: justify; padding: 2px 0px 15px; color: #909090;">
          Olympic Lift Certified |&nbsp;CrossFit Lvl 1 Certified | Certified Personal Trainer | Kettlebell Certified | Seasoned Triathlete
        </p>
      </div>
      <p>
         In a few words, CrossFit can be described as "constantly varied, functional movements, performed at high intensity". The idea behind CrossFit programming is to completely tax the body's energy systems with each and every workout. CrossFit is designed to prepare the body for anything, at any time, through movements ranging from weightlifting and gymnastics, to running and rowing.
      <p>
        The programs at CrossFit N.V. are designed to help our members reach their highest potential in terms of endurance, stamina, strength, flexibility, power, speed, coordination, agility, balance, and accuracy. The class-based format is intended to ignite friendly competition between members, as well as create personal goals to improve upon. Our daily workouts are always changing, preventing the feeling of monotony that often accompanies "working out".
      </p>
      <p>
        Our goal at CrossFit N.V. is to spread our idea of fitness. We believe that well-rounded athletes are the best athletes. We push our members to be good at EVERYTHING, and to avoid being very good at only ONE thing.
      </p>
    </div>
  </div>
</section>