<app-top-carousel></app-top-carousel>
<div class="widget-container">
  <img class="img img-responsive" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/1/WidgetImages/56b52ba20c5e9.jpg" tooltip="" style="width: 100%; height: auto;" />
</div>
<hr />
<div class="pr-page-header animated fadeIn">
  <!-- Page Row -->
  <div>
    <div class="row content-row">
      <div class="column col-sm-12">
        <div>
          <div class="widget-container">
            <section>
              <h1 class="page-title text-center">
                <i class="fa fa-fw fa-heartbeat pull-left"></i> Welcome to CrossFit Nova Vita: "New Life"
              </h1>
            </section>
          </div>
        </div>
        <div class="column col-sm-8" style="padding: 0px 20px 0px 30px;">
          <div>
            <div class="widget-container">
              <h3>We train using Crossfit methodologies.&nbsp;</h3>
              <p>By use of constantly varied functional movements, executed at high intensity, we train to increase our work capacities across broad time and modal domains.Our exercise routines are even scalable to meet the needs of all athletes; beginner, advanced, and expert alike. Like many CrossFit gyms, we teach basic to advanced classes in functional exercise, athletic conditioning, plyometrics, kettlebell training, Olympic weightlifting, medicine ball and dumbbell training, power-lifting, gymnastics, rowing, running and jumping rope.&nbsp;</p>
              <p>&nbsp;</p>
              <h3>We pride ourselves on how we teach.&nbsp;</h3>
              <p>We believe in the integrity of movement, the safety of our students, and a steady progress that develops not just athleticism, but a high quality of life. We believe that fitness is a state of mind, a way of being. It shows up in the way you talk, walk, sleep, eat, work, play, relax, and carry yourself. It is the physical embodiment of ones character, traits of honor, courage, confidence, discipline, integrity, responsibility, dedication, and joy. It is also instrumental in reducing the immediate and cumulative effects of stress and anxiety. We’ve found that the fitter a person is, the more he/she is physically able to do the things that bring joy and fun to life; everything from feeling strong, confident and energetic through your normal work day, running around with your kids, being physically active and playing sports, to traveling .</p>
            </div>
          </div>
        </div>
        <div class="column col-sm-4 hidden-xs">
          <div>
            <div class="widget-container">
              <img class="img img-responsive" tooltip="" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/1/WidgetImages/56b52cc0ab1c8.jpg" style="width: auto; height: 575px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img img-responsive text-center" width="100%" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/1/WidgetImages/56b53533cb958.jpg" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4">
        <br />
        <img class="img img-responsive text-center" width="100%" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/1/WidgetImages/56b537c7b9a14.jpg" />
      </div>
      <div class="col-md-8 mr-2">
        <section style="margin-right: 10px;">
          <h2>Being physically fit is inspiring, feels good, and enriches your life.</h2>
          <p>It adds both years to your life, and " New Life " to your years! People who are fit seem to have a clearer, more optimistic view of life. For us, the bottom line is this:</p>
          <p><strong><em>Fitness allows you to live your best life, whether you think you are an athlete or not.</em></strong></p>
          <h3>We all train the same; we consider you all athletes.</h3>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="text-center">
          <h2 style="margin-top: 35px; margin-bottom: 20px;">
            We Proudly carry Progenex Products
          </h2>
          <img class="text-center" src="https://aethercode-crossfitnv.s3.amazonaws.com/assets/PageBuilder/Pages/1/WidgetImages/56b539106e059.png" />
        </section>
      </div>
    </div>
    <br />
  </div>