<app-top-carousel></app-top-carousel>
<div class="dark-bg  default-hovered footer-top animated-text" data-animation-effect="flipInX" data-effect-delay="1000">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="call-to-action text-center container-fluid">
          <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-3x fa-map-marker"></i>
            </div>
            <div class="col-sm-10 col-md-7">
              <h2>Train like a warrior!</h2>
              <h2>Reserve your spot today!</h2>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-4 mt-10" [innerHTML]="intro.cta"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Call to Action -->

<!-- Begin Welcome Section -->
<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h3 class="title" [innerHTML]="intro.header"></h3>
        <div class="separator-2"></div>
        <div class="row">
          <div class="col-md-6">
            <p class="lead" [innerHTML]="intro.intro"></p>
          </div>
          <div class="col-md-6">
            <div class="pv-20 ph-20 feature-box bordered shadow text-center" data-animation-effect="slideInRight" data-effect-delay="600">

              <!-- Right-side Image -->
              <img class="img img-responsive" width="100%" [src]="intro.rightImageUrl" />

            </div>

            <section [innerHTML]="intro.rightList"></section>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Welcome Section -->
<section id="events" class="parallax">
  <div class="dark-translucent-bg">
    <div class="container">
      <div class="row" ng-controller="EventsController as articlesCtl">
        <div class="col-lg-12 form-horizontal"><br />
          <h1 class="page-title text-center">

            <!-- Editable Title -->
            <i class="fa fa-fw fa-newspaper-o pull-left"></i> THE BTB BLOG</h1>
          <!-- End editable title -->

          <hr class="tagline-divider">
          <p class="lead">

            <!-- Editable Intro Paragraph -->
            Check back to this page for posts about training, events, and happenings at the dojo!
            <!-- End intro paragraph -->

          </p>
          <div class="clearfix"></div>
          <app-articles [data]="blogPosts"></app-articles>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="staff" class="default-bg">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 form-horizontal">
          <app-instructors></app-instructors>
        </div>
      </div>
    </div>
  </div>
</section>
<app-schedule></app-schedule>
<section id="programs" class="dark-bg">
  <div class="x-dark-translucent-bg">
    <div class="container">
      <div class="row" ng-controller="ProgramsController as articlesCtl">
        <div class="col-lg-12 form-horizontal"><br />
          <h1 class="page-title text-center">

            <!-- Editable title-->
            <i class="fa fa-fw fa-graduation-cap pull-left"></i> Programs We Offer</h1>
          <!-- end title -->

          <hr class="tagline-divider">
          <p class="lead">
            <!-- Editable intro text -->
            Programs at our facility are designed to build mind, body, and character through martial arts training. See below for the scheduling of our many programs!
            <!-- end intro text -->
          </p>
          <div class="clearfix"></div>
          <app-articles [data]="programs"></app-articles>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <section class=""><br />

    <!-- Facebook API -->
    <div id="fb-root"></div>
    
    <!-- Facebook API end -->

    <!-- <footer> -->
    <!-- <div class="footer"> -->

    <!-- <div class="col-map"> -->
    <!--<h2 class="brand-before text-center">
            <small><span class="fa-stack fa-2x">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-map-marker fa-stack-1x"></i>
              </span></small> How to find us!
          </h2>-->
    <!-- </div> -->
    <!-- End Map Section -->

    <div class="container">
      <!-- <div class="footer-inner"> -->
      <div class="row">
        <div class="col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
          <div class="" data-animation-effect="slideInLeft">
            <app-contact></app-contact>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-md-offset-0 col-xs-10 col-xs-offset-1">
          <div class="" data-animation-effect="slideInRight" [innerHTML]="contact.detail"></div>

          <!-- Insert FB Box (API) -->
          <div class="fb-page" data-width="500" data-href="https://www.facebook.com/beyond.the.belt" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
          <!-- end FB API-->

        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </footer> -->
  </section>
</section>
<div class="subfooter">
  <div class="container">
    <div class="subfooter-inner">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Copyright © {{ year }} Beyond the Belt. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>