<app-top-carousel></app-top-carousel>
<div class="dark-bg  default-hovered footer-top animated-text" data-animation-effect="flipInX" data-effect-delay="1000">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="call-to-action text-center container-fluid">
          <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-3x fa-map-marker"></i>
            </div>
            <div class="col-sm-10 col-md-7">
              <h2>Train like a warrior!</h2>
              <h2>Reserve your spot today!</h2>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-4">
              <p class="mt-10">
                <a href scroll-to="contact" offset="125" class="btn btn-animated btn-lg btn-gray-transparent ">
                  <!-- Begin Editable Call to Action Text -->

                  Make a Reservation

                  <!-- End editable CTA text -->
                  <i class="fa fa-envelope pl-20"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Call to Action -->

<!-- Begin Welcome Section -->
<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h3 class="title">

          <!-- Editable Title -->
          A New Way <strong class="text-info">To Train</strong>
          <!-- end Title edit-->

        </h3>
        <div class="separator-2"></div>
        <div class="row">
          <div class="col-md-6">
            <p class="lead">

              <!-- Editable Paragraph -->
              Located in the <strong>Lakes Region of New Hampshire</strong>, <span class="text-red">Beyond the Belt</span> is a family focused school teaching the very latest martial arts techniques. Our Adult Mixed Martial Arts
              Program is one of the only belt-ranked MMA programs in the state. We feature Brazilian Jiu Jitsu, Muay Thai Kickboxing, and traditional Kempo Karate training. Our Martial Arts Leadership Program for children not
              only teaches valuable Martial Arts techniques and skills, but also life skills, self defense, and character development. Our calorie burning K-Box Fitness Program is one of the most effective and enjoyable ways
              to get in shape or take your cardio fitness to the next level!
              <!-- End editable Paragraph-->

            </p>
            <p class="lead">

              <!-- Editable Paragraph -->
              Whether you're looking for yourself or your children, whether you have a black belt or have never set foot in a karate studio before, come visit us at Beyond the Belt and see what we're all about!
              <!-- End Editable Paragraph -->

            </p>
          </div>
          <div class="col-md-6">
            <div class="pv-20 ph-20 feature-box bordered shadow text-center" data-animation-effect="slideInRight" data-effect-delay="600">

              <!-- Right-side Image -->
              <img class="img img-responsive" width="100%" src="https://aethercode-btbmartialarts.s3.amazonaws.com/assets/contentPages/1/image-gallery/564253a39d708.jpg" />
              <!-- -->

            </div>

            <!-- Editable Unordered List -->
            <ul class="list-icons ph-30">
              <li><i class="fa fa-fw fa-map-marker"></i> Located in <strong>Laconia</strong></li>
              <li><i class="fa fa-fw fa-star"></i> Community focused, belt-ranked martial arts programs</li>
              <li><i class="fa fa-fw fa-group"></i> Experienced and <strong class="text-info">passionate</strong> instructors</li>
              <li><i class="fa fa-fw fa-heartbeat"></i> Safe and welcoming for all walks of life</li>
            </ul>
            <!-- End UL -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Welcome Section -->